@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

@import './variables.css';

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-neutral-20) !important;
  color: var(--color-neutral-90) !important;
  font-size: 16px;
  font-family: 'Oswald', sans-serif !important;
  /* font-weight: var(--fw-regular); */
}

.nav-link.active {
  color: rgba(255,255,255,1) !important;
  background-color: rgba(0,0,0,0.5);
  border-radius: 1rem;
  padding: 0.5rem !important;
  width: fit-content;
}

.page-grid {
  display: grid;
  grid-template-rows: max-content 1fr;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container-fluid {
  overflow-y: auto;
  position: relative;
}

.hidden {
  display: none !important;
}

.stick-top {
  position: sticky;
  top: 0;
}

.book-details {
  margin: 1rem 0;
  padding: 0.25rem 0.75rem;
}

.vertical-left-border {
  border-left: 1px solid;
  height: 100%;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #verticalDivider {
    display: none !important;
  }
}

/* ScrollTopDemo.css */

.custom-scrolltop {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 4px;
  background-color: var(--primary-color) !important;
}
.custom-scrolltop:hover {
  background-color: var(--primary-color) !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem !important;
  color: var(--primary-color-text);
}

.p-scrollpanel .p-scrollpanel-bar {
  background: rgb(202 213 224) !important;
}

.p-component {
  font-family: 'Oswald' !important;
}

.p-fieldset-legend {
  width: max-content;
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* Filter styles */

.filter-bar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-neutral-20) !important;
}

.p-chip.custom-chip {
  background: var(--color-neutral-50);
  color: var(--color-neutral-20);
}

.filter-dropdown {
  min-width: 50%;
  margin: 5px 5px 0 0;
}

.filter-div {
  margin: 0 1rem 1rem 1rem;
}

.p-dropdown .p-dropdown-label.p-placeholder, .p-inputtext {
  font-family: 'Oswald' !important;
}

.p-toast-top-right {
  top: 70px !important
}

.night-owl-img {
  height: 40px;
  width: 40px;
  background-color: white;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-image: url("../logo.svg");
}

.bg-custom {
  background-color: rgb(202 213 224);
}