@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

@import './variables.css';

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-neutral-20) !important;
  color: var(--color-neutral-90) !important;
  font-size: 16px;
  font-family: 'Oswald', sans-serif !important;
  /* font-weight: var(--fw-regular); */
}

.nav-link.active {
  color: rgba(255,255,255,1) !important;
  background-color: rgba(0,0,0,0.5);
  border-radius: 1rem;
  padding: 0.5rem !important;
  width: fit-content;
}

.page-grid {
  display: grid;
  grid-template-rows: max-content 1fr;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container-fluid {
  overflow-y: auto;
  position: relative;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  grid-gap: 1rem;
  margin: 1rem auto;
}

.card-image {
  height: 14rem;
  width: auto !important;
  max-width: 90% !important;
  align-self: center;
}

.card {
  cursor: pointer !important;
  transition: all 0.75s ease-in-out !important;
}

.card:hover {
  transform: rotateY(180deg) scale(1.05) !important;
}

.card:hover .card-image, .card:hover .card-footer, .card:hover .card-body.content1 {
  display: none !important;
}

.card:hover .card-body.card-desc {
  display: block !important;
}

.card-desc {
  font-size: 0.75rem;
  transform: rotateY(180deg);
}

.card-body, .card-footer {
  padding: 0.75rem !important;
}

.hidden {
  display: none !important;
}

.stick-top {
  position: sticky;
  top: 0;
}

.book-details {
  /* background-color: var(--color-neutral-20); */
  margin: 1rem 0;
  padding: 0.25rem 0.75rem;
}

.vertical-left-border {
  border-left: 1px solid;
  height: 100%;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #verticalDivider {
    display: none !important;
  }
}

/* .deatils-column {
  border: 1px solid;
  margin: 1rem;
} */

/* ScrollTopDemo.css */

.custom-scrolltop {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 4px;
  background-color: var(--primary-color) !important;
}
.custom-scrolltop:hover {
  background-color: var(--primary-color) !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem !important;
  color: var(--primary-color-text);
}

.p-component {
  font-family: 'Oswald' !important;
}

.p-fieldset-legend {
  width: max-content;
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* Filter styles */

.filter-bar {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-neutral-20) !important;
}

.p-chip.custom-chip {
  background: var(--color-neutral-50);
  color: var(--color-neutral-20);
}

.filter-dropdown {
  min-width: 50%;
  margin: 5px 5px 0 0;
}

.filter-div {
  margin: 0 1rem 1rem 1rem;
}

.p-dropdown .p-dropdown-label.p-placeholder, .p-inputtext {
  font-family: 'Oswald' !important;
}

.p-toast-top-right {
  top: 70px !important
}