@import './variables.css';

.header {
    font-weight: var(--fw-semibold);
    position: sticky !important;
    top: 0;
    z-index: 5;
}

.footer {
    padding: 0.25rem 1rem;
    font-size: 0.75rem;
    font-weight: var(--fw-light);
    position: relative;
    bottom: 0;
    background-color: rgb(202 213 224);
    width: -webkit-fill-available;
    width: -moz-available;
    height: 30px;
}